[package]
name = "oxhttp"
version = "0.1.5"
authors = ["Tpt <thomas@pellissier-tanon.fr>"]
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["HTTP"]
repository = "https://github.com/oxigraph/oxhttp"
description = """
Very simple implementation of HTTP 1.1 (both client and server)
"""
edition = "2018"
rust-version = "1.58"

[dependencies]
httparse = "1"
lazy_static = "1"
native-tls = { version = "0.2", optional = true }
num_cpus = { version = "1", optional = true }
rayon-core = { version = "1", optional = true }
rustls-crate = { version = "0.20", optional = true, package = "rustls" }
rustls-native-certs = { version = "0.6", optional = true }
url = "2"

[features]
rustls = ["rustls-crate", "rustls-native-certs"]
rayon = ["rayon-core", "num_cpus"]

[package.metadata.docs.rs]
all-features = true
