name: build

on: [push, pull_request]

jobs:
  fmt:
    name: fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: rustup update
      - run: rustup component add rustfmt
      - run: cargo fmt -- --check

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: rustup update
      - run: rustup component add clippy
      - run: cargo clippy --all-targets
      - run: cargo clippy --all-targets --features native-tls

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: rustup update
      - run: cargo build
      - run: cargo test --verbose --all-targets
      - run: cargo test --verbose --all-targets --features native-tls
        env:
          RUST_BACKTRACE: 1
